html {
    scroll-behavior: smooth;
  }
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body {
    font-family:"Poppins", sans-serif;
    background-image: url(Images/About.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    box-sizing: border-box;
    height: 700px;
    display: inline-block;
    width: 100%;
}
/* Team */
.container {
    margin: 20px 40px;
    color: white;
    padding-bottom: 210px;
    margin-left: 50px;
}
.heading {
    font-size: 50px;
    color: white;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 50px;

}
.profiles {
display: flex;
justify-content: space-around;
margin: 20px 80px;  
margin-left: 200px;
}
.profile .profile-img{
height: 200px;
width: 200px;
border-radius: 50%;
cursor: pointer;
}
.username {
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
}
.profile h5 {
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 3px;
    color: white;
    text-align: center;
}
.profile p {
    font-size: 16px;
    margin-top: 20px;
 /*Header */
}
    ul { 
        list-style: none;
        padding-top: 30px;
        padding-right: 20px;
        position: fixed;
        margin-left: 1000px;
    }
    ul li {
        display: inline-block;
    }
    ul li a {
        text-decoration:none;
        color: white;
        padding: 5px 20px;
        border: 1px solid transparent;
        transition: 0.s ease;
        margin-bottom: 100px;
    }
    ul li a:hover{ 
        background-color: #fff;
        color: #000;
    }
    ul li.active a {
        background-color: #fff;
        color: #000;
    }
    .logo img {
        float: left;
        height: 200px;
        width: 200px;
    }
    h1 {
        text-align: center;
        color: white;
        margin-bottom: 20px;
    }
    /* Mission and Visiopn */
    #section1 {
        font-family:"Poppins", sans-serif;
        background-image: url(Images/About.jpg);
        background-repeat: no-repeat;
        overflow: hidden;
        background-size: cover;
         height: 800px;
        display: inline-block;
        width: 100%;
        margin-bottom: 80px;
    }
    #section2 {
        font-family:"Poppins", sans-serif;
        background-image: url(Images/About.jpg);
        background-repeat: no-repeat;
        overflow: hidden;
        background-size: cover;
        height: 810px;
        display: inline-block;
        width: 100%;
    }
    

    





























































/*@media only screen and (max-width:1150px) {
    .profiles {
        flex-direction: column;
    }
    .profile {
    display: flex;
    flex-direction: column;
    align-items: center;    
    }
    .profile p {
    text-align: center;
    margin: 20px 60px 80px 60px;
    font-size: 20px;    
    }
}
@media only screen and (max-width: 900px) {
.heading{
font-size: 40px;
color: white;
text-align: center;
}
.heading span {
    font-size: 15px;
}
    .profiles {
        margin:20px 0 ;
    }
    .profile p {
        margin: 20px 10px 80px 10px
    }
} *\