*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    align-items: center;
}
body{
    background-color: wheat;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    
    }
        .menu-bar {
        background-color: rgb(203, 166, 106);
        text-align: center;
        }
        .logogo {
            display: flex;
            align-items: center;
            justify-items: first baseline;
            padding: 0px 50%; 
        }
        footer {
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: rgb(203, 166, 106);
            height: 150px;
            width: 100vw;
            font-family: "Open Sans";
            padding-top: 100px;
            font-weight: bold;
            color: rgb(2, 2, 2);
            align-items: center;
        }
        .logo {
            height: 100px;
            width: 100px;
            left: -760px;
            position: relative;
            cursor: pointer;
        }
        .logogo span{
            position: relative;
            font-weight: 700;
            font-size: 15px;
            font-family:Lucida Handwriting;
            color: rgb(0, 0, 0); 
            left: -760px;
        } 
        .container.sign-up-mode:before {
            bottom:28%;
            left: 50%;
        }
        .wrapper {
            max-width: 500px;
            width: 100%;
            box-shadow: 0 0 5px rgba(black);
            margin: auto;
            background-color:wheat;
            border: 4px;
            min-height: 500px;
            align-items: center;
            text-align: center;
            padding: 2rem;
            
            
        }
        .profile-page {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            padding-top: 60px;
        }
        .wrapper .input-box {
            width: 100%;
            height: 50px;
            margin-bottom: 1.3rem;
            position: relative;
        }
        .wrapper .input-box:last-child {
            margin-bottom: 0;
        }
        .wrapper .input-box input {
            width: 100%;
            height: 100%;
            border: 1px solid rgb(0, 0, 0);
            outline: none;
            border-radius: 4px;
        }
        .wrapper .h1 {
            padding-top: 10px;
        }

